.sidebar {
   width: 241px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 1;
   padding: 40px 35px 30px 34px;
   border-right: 0.25px solid #DFDFDF;
}


.info:first-child {
   margin-bottom: 30px;
}

.info p {
   margin-bottom: 10px;
   font-size: 10px;
   text-wrap: nowrap;
}

.info p span{
   color: #004CFFB8;
}